version: '3'

services:
    coffee-api:
        user: "1001"
        container_name: coffee-api
        build:
            context: .
            dockerfile: ./docker/Dockerfile
        ports:
            - '8000:80'
        volumes:
            - '.:/var/www/html'
        environment:
            - DB_HOST=coffee-db
        networks:
            - registry-net
        depends_on:
            - coffee-db
            - coffee-redis
            - coffee-selenium

    coffee-db:
        container_name: coffee-db
        image: 'mysql/mysql-server:8.0'
        environment:
            MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ROOT_HOST: "%"
            MYSQL_DATABASE: '${DB_DATABASE}'
            MYSQL_USER: '${DB_USERNAME}'
            MYSQL_PASSWORD: '${DB_PASSWORD}'
            MYSQL_ALLOW_EMPTY_PASSWORD: 1
        networks:
            - registry-net
        healthcheck:
            test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
            retries: 3
            timeout: 5s

    coffee-redis:
        container_name: coffee-redis
        image: 'redis:alpine'
        volumes:
            - './docker/sail-redis:/data'
        networks:
            - registry-net
        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            retries: 3
            timeout: 5s

    coffee-selenium:
        container_name: coffee-selenium
        image: 'selenium/standalone-chrome'
        volumes:
            - './docker/shm:/dev/shm'
        networks:
            - registry-net

networks:
    registry-net:
        external: true
