

name: coffee-order-api

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  depoly:
    if: ${{ always() }}
    needs: [ 'composer-build', 'package-build' ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_ID }} -p ${{ secrets.DOCKER_TOKEN }} ${{ secrets.DOCKER_HOST }}
      - name: Build
        run: docker build -f ./docker/Dockerfile -t coffe-order/api .
      - name: Tags
        run: |
          docker tag coffe-order/api ${{ secrets.DOCKER_HOST }}/coffe-order/api:latest
      - name: Push
        run: |
          docker push ${{ secrets.DOCKER_HOST }}/coffe-order/api:latest
