name: package-build

on:
  push:
    paths:
      - 'package.json'
      - 'yarn.lock'
      - 'package-lock.json'
      - 'webpack.mix.js'
      - 'app/resources/*'
  pull_request:
    paths:
      - 'package.json'
      - 'yarn.lock'
      - 'package-lock.json'
      - 'webpack.mix.js'
      - 'app/resources/*'

jobs:
  package-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Docker login
        run: docker login -u ${{ secrets.DOCKER_ID }} -p ${{ secrets.DOCKER_TOKEN }} ${{ secrets.DOCKER_HOST }}
      - name: Build
        run: docker build -f ./docker/Dockerfile-package -t coffe-order/api .
      - name: Tags
        run: |
          docker tag coffe-order/api ${{ secrets.DOCKER_HOST }}/coffe-order/api:package
      - name: Push
        run: |
          docker push ${{ secrets.DOCKER_HOST }}/coffe-order/api:package
